
body{
    background-color:#e9ebee;
    font-family: "Roboto";
    margin:20px;
}


.login{
    display:block;
    background-color:#D9E6E2;
    width:350px;
    margin-left:auto;
    margin-right:auto;
    padding-left:140px;
    height:800px;
    border-radius:10px;
    margin-bottom:100px;
}

h4{
    margin-top:20px;
}

.screensize{
    display:block;
    background-color:#D9E6E2;
    width:470px;
    margin-left:auto;
    margin-right:auto;
    height:770px;
    border-radius:10px;
    margin-bottom:100px;
    overflow:hidden;
}



input{
    padding: 8px 50px 8px 4px;
    margin-top:5px;
    margin-bottom:10px;
    border-radius: 4px;
     margin-left:-1px;
    border-style: none;
}

#login1{
    font-size:0.8em;
    color:#74B29D;
}

.register{
    font-size:0.8em;
    color:#106ecb;
    
}

.submitbtn{
    background-color:#74B29D;
    width:191px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    margin-bottom:5px;
    border:none;
    font-weight:bold;
    color:white;
}

.submitbtn1{
    background-color:#74B29D;
    width:120px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    padding-left:37px;
    border:none;
    font-weight:bold;
    color:white;
    display:none;
}


#loginform{
    margin-top:200px;
}

#registerform{
    margin-top:50px;
}

label{
    font-size:1em;
}

.comment-title{
    margin-top:40px;
    color:#666;
}

ul.comments-holder
{
    list-style-type: none;
    width:auto;
    height:auto;
    overflow:hidden;
}

li.comments-holder{
    list-style-type:none;
    height:auto;
    width:auto;
    margin: 5px 0 5px 0;
    background-color:#fffff4;
    overflow:hidden;
    position:relative;
}

li.comments-holder:hover{
    border:2px solid #e1e1e1;
}

.comment-body{
    width:auto;
}

.username-field{
    font-size:0.8em;
    font-weight:bold;
    height:25px;
    
    line-height:22px;
    color:#29a329;
    margin-left:10px;
}

.username-field:hover{
    color:#1f7a1f;
}

.comment-text{
    display:block;
    width:auto;
    color:gray;
    font-size:0.9em;
    margin-left:75px;
    padding-bottom:10px;
}

.user-img{
    float:left;
    height:65px;
    width:65px;
    
    margin-right:10px;
}

.user-img-pic{
    width:55px;
    height:auto;
    margin:5px;
    border:1px solid #a1a1a1;
}

.user-img-pic:hover{
    border: 1px solid #818181;
}

li.comments-holder:hover .comment-buttons-holder{
    display:block;
}

.comment-buttons-holder{
    display:none;
    position:absolute;
    top:0px;
    right:0px;
    width:100px;
    height:20px;
}

.comment-buttons-holder ul{
    list-style-type:none;
    width:auto;
    height:auto;
    overflow:hidden;
}

.comment-buttons-holder ul li{
    float:right;
    height:20px;
    width:20px;
    text-align: center;
    line-height:17px;
    color:#fff;
    background-color:#29a329;
    cursor:pointer;
}

.comment-buttons-holder ul li:hover{
    color:#444;
    background-color: #47d147;
}